.carousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  position: static;
  z-index: -10;
  height: 100vh;
}

.carousel-item:nth-child(1),
.carousel-item:nth-child(2),
.carousel-item:nth-child(3),
.carousel-item:nth-child(4) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}